body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: url(https://burst.shopifycdn.com/photos/love-letters-and-hearts.jpg?width=1200&format=pjpg&exif=1&iptc=1);
    background-size: cover;
    background-repeat: no-repeat;
}
#content-box {
    width: 500px ;
    height: 300px;
    background-color: rgb(251, 250, 248);
    padding: 20px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 10px;


}
#calculate {
    width: 250px;
    height: 50px;
    background-color: rgb(236, 40, 236);
    font-size: 20px;
    border-radius: 10px;
    border: none;
}
#result-percentage {
    font-size: 20px;
}
