body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: url(http://clv.h-cdn.co/assets/18/01/1600x1200/sd-aspect-1514929573-necco-candy-hearts-array.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#content-box {
    width: 500 ;
    height: 200;
    background-color: rgb(251, 250, 248);
    padding: 20px;
    margin: 0 auto;
    margin-top: 50px;


}
#calculate {
    width: 250px;
    height: 50px;
    background-color: rgb(236, 40, 236);
    font-size: 20px;
    border-radius: 10px;
    border: none;
}
